* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
  background: rgba(230,230,230,1);
}

/* ШАПКА САЙТА*/
.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 164px;
    background-color: #3C5179;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    overflow: hidden;
}

/* Текст слева*/
.header-text-left {
  width: 335px;
  height: 81px;
  background: url("../images/v2_4.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1; 
  overflow: hidden;
  text-decoration: none;
}
.header-txt-left {
  width: 335px;
  color: rgba(255,255,255,1);  
  font-family: Roboto;
  font-weight: SemiBold;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}


/* Текст справа*/

.header-text-right {
  width: 362px;
    height: 112px;
    background: url(../images/v2_3.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
  }
.header-img-right {
  width: 207px;
  height: 112px;
  background: url("../images/v1_6.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  overflow: hidden;
}
.header-txt-right {
  width: 135px;
  color: rgba(255,255,255,1);
  font-family: Roboto Condensed;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: right;
}



/* ОСТАВИТЬ ЗАЯВКУ*/
.zaivka { 
    width: 630px;
    height: 630px;
    background: rgba(241,241,241,1);
    border-top-left-radius: 36px;
    border-top-right-radius: 36px;
    border-bottom-left-radius: 36px;
    border-bottom-right-radius: 36px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-top: 10%;
    margin-left: 30%;
}
/* текст на странице*/
.zaivka-text {  
  color: rgba(0,0,0,1);
  font-family: Roboto;
  font-weight: Light;
  font-size: 16px;
  opacity: 1;
  text-align: right;
  text-decoration: none;
}

/* логотип*/
.logo {
  width: 70px;
  height: 70px;
  background: url("../images/v12_5.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  border: 2px solid rgba(60,80,121,1);
  border-top-left-radius: 59px;
  border-top-right-radius: 59px;
  border-bottom-left-radius: 59px;
  border-bottom-right-radius: 59px;
  box-shadow: 0px 4px 26px rgba(1, 1, 1, 0.7300000190734863);
  overflow: hidden;
}

/* номер авто*/
.number-auto {
  width: 436px;
  height: 62px;
  background: url("../images/v12_21.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}
.pole-number-auto{
  width: 436px;
  height: 28px;
  background: rgba(217,217,217,1);
  opacity: 1;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
  color: black;
}

/* нарушение*/
.naryshenie {
  width: 436px;
  height: 166px;
  background: url("../images/v12_20.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}
.pole-naryshenie{
  width: 436px;
  height: 132px;
  background: rgba(217,217,217,1);
  opacity: 1;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
  display: inline;
  color: black;
}

/* кнопка войти*/
.button-voiti{
  width: 113px;
  height: 36px;
  background: rgba(60,80,121,1);
  color: white;
  opacity: 1;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 18px;
  margin-left: 150px;
}


.social-link {
  width: 211px;
  height: 43px;
  background: url("../images/v14_34.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  overflow: hidden;
}